.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
  text-align: center;
  margin-top: 3rem;
  justify-content: center;
}

.product-row{
  display: flex;
	flex-flow: row wrap;
	align-items: center;
	text-align: center;
  justify-content: center;
}

[class*="col-"]{
	margin-left: 4%;
	margin-top: 4%;
}

@media only screen and (min-width: 480px)  {
.col-1{
	flex: 0 0 44%;
}

}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.col-1{
		flex: 0 0 20%
	}

}

