.product{
    width: 240px;
    position: relative;
}

.image-wrapper{
    display: block;
    width: 100%;
    max-height: 240px;
    /* border: 1px solid #afafaf; */
    border-bottom: hidden;
    text-align: center;
}

.image-wrapper img {
	width: 100%;
	max-width: 225px; 
  max-height: 166px;
  
}
.info{
     width: 100%;
  /* background: #000; */
  color: #fff;
  position: relative;
  /* padding: 40px 10px 20px 10px; */
  text-align: center;
  display: inline-block;
  
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  backface-visibility: hidden;
  transition-property: color,height;
  transition-duration: 0.3s,0.4s;
  transition-timing-function: ease-out;
  height: 83px;
  text-overflow: clip;
}
.info .title{
  margin-top: 7px;
}


.info:before
{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  transform: scaleY(0);
  transform-origin: 50%;
  transition: transform 0.3s ease-out;
}

.info:after
{
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: transform;
  left: calc(50% - 11px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: black transparent transparent transparent;
}

.product:hover .info
{
  height: 40px;
}

.product:hover .info:before
{
  transform: scaleY(0.7);
}

.product:hover .info:after
{
  visibility: visible;
  transform: translateY(10px);
}

.title
{
  transition: transform 0.3s ease-out;
}

.product:hover .title
{
  transform: translateY(-20px);
  font-weight: bold;
  color: #000;
  display: none;
}

.info .price
{
  background: #e32d2c;
  position: absolute;
  font-size: 1.3em;
  padding: 4px 13px;
  top: -15px;
  right: 10px;
}

.actions-wrapper
{
  margin-top: 14px;
  /* display: flex;
  justify-content: space-around; */
  visibility: hidden;
}

.actions-wrapper *
{
  width: 50%;
  padding: 2px 0;
  text-align: center;
  color: #000000;
  font-size: 0.95em;
  font-weight: bold;
}

.product:hover .actions-wrapper *
{
  visibility: visible;
}

.image-wrapper img{
  max-width: 100%;
  object-fit: contain;
}
.modal-contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* min-width: 600px;
  min-height: 800px; */
  margin-top: 2rem;
}

.modal-product-image{
  width: 50%;
}
.modal-product-image img{
  max-width: 100%;
}
.modal-title{
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}
.modal-product-price{
  color: green;
}
.modal-contents span{
  margin: 0 0.2rem;
}
.modal-product-actions{
  margin: 1rem 0;
}

.close-button{
  background: transparent;
  border: none;
  color: black;
  padding: 15px 45px;
  font-size: 17px;
  outline: none;
  border-radius: 3px;
  font-family: Roboto;
  letter-spacing: 1.5px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 10px;
}

.close-button:hover{
  color: var(--red)
}
.modal-button{
    background: #161b33;
  border: none;
  color: #fff;
  padding: 15px 45px;
  font-size: 17px;
  outline: none;
  border-radius: 3px;
  font-family: Roboto;
  letter-spacing: 1.5px;
  font-weight: 400;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 10px;
}
.modal-button:hover{
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.add-to-cart-button{
      /* background: #161b33; */
      width: auto;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  color: #000;
  padding: 10px 25px;
  /* font-size: 17px; */
  outline: none;
  border-radius: px;
  /* letter-spacing: 1.5px; */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  /* margin: 10px; */
}

.add-to-cart-button:hover{
   border: 1px solid #000
}
/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {

}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
.product-listing{
   
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

	

}