.product{
    width: 240px;
    position: relative;
}

.image-wrapper{
    display: block;
    width: 100%;
    max-height: 240px;
    border: 1px solid #afafaf;
    border-bottom: hidden;
    text-align: center;
}

div img {
	width: 100%;
	max-width: 225px; 
  max-height: 166px;
  
}
.info{
     width: 100%;
  background: #000;
  color: #fff;
  position: relative;
  /* padding: 40px 10px 20px 10px; */
  text-align: center;
  
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  backface-visibility: hidden;
  transition-property: color,height;
  transition-duration: 0.3s,0.4s;
  transition-timing-function: ease-out;
  height: 83px;
}

.info:before
{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  transform: scaleY(0);
  transform-origin: 50%;
  transition: transform 0.3s ease-out;
}

.info:after
{
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: transform;
  left: calc(50% - 11px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: black transparent transparent transparent;
}

.product:hover .info
{
  height: 40px;
}

.product:hover .info:before
{
  transform: scaleY(0.7);
}

.product:hover .info:after
{
  visibility: visible;
  transform: translateY(10px);
}

.title
{
  transition: transform 0.3s ease-out;
}

.product:hover .title
{
  transform: translateY(-18px);
  font-weight: bold;
  color: #000;
}

.info .price
{
  background: #e32d2c;
  position: absolute;
  font-size: 1.3em;
  padding: 4px 13px;
  top: -15px;
  right: 10px;
}

.actions-wrapper
{
  margin-top: 14px;
  /* display: flex;
  justify-content: space-around; */
  visibility: hidden;
}

.actions-wrapper *
{
  width: 50%;
  padding: 2px 0;
  text-align: center;
  color: #000000;
  font-size: 0.95em;
  font-weight: bold;
}

.product:hover .actions-wrapper *
{
  visibility: visible;
}

.image-wrapper img{
  max-width: 100%;
  object-fit: contain;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {

}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
.product-listing{
   
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

	

}