
.popular-product-listing{
  margin-top: 3rem;
 
}
.popular-product-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}

.popular-shop-card{
     min-width: 350px;
     max-width: 350px;
  overflow: hidden;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.popular-product-listing h2{
  font-weight: 300;
 text-decoration: underline;
 margin-bottom: 1rem;
}

.popular-image{
    max-width: 150px;
    
}
.popular-image img{
     
      width: 100%;
}
  .popular-title h4 {
    /* font-weight: 600; */
    text-transform: uppercase;
    /* font-size: 30px; */
    color: #23211f;
    margin-bottom: 5px;
  }

  .popular-desc {
    font-size: 17px;
    opacity: .8;
    margin-bottom: 3px;
  }
  .popular-cta{
          display: flex;
          flex-direction: column;
          margin-top: 5px;


  }
  .popular-price, .popular-btn{
      margin: 0 1rem;
  }

    .popular-price {
    
    /* font-size: 22px; */
    /* font-weight: 900; */
    padding-top: 2px;
    transition: color .3s ease-in-out;
    margin-top: 4px;
  }

   .popular-btn, .product-btn {
    background-color: #fff;
  border: 1px solid #d8d8d8;
  color: #000;
  height: 32px;
  min-width: unset;
  padding: 0 11px;
  transition: var(--transition);
    font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top:1rem;
    
   }

   .popular-btn:hover, .product-btn:hover{
     border: 1px solid #000
   }
   .popular-btn .bg{
       width: 101%;
      height: 101%;
      display: block!important;
      z-index: -1;
      opacity: 0;
      transition: all .3s ease-in-out;
      background: linear-gradient(135deg, #a61322, #d33f34);
   }
   @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 2) {
      
      .popular-product-row{
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .popular-shop-card{
          margin: 1rem 0.2rem
      }

}

